.player-main-image {
  height: 100vh;
  padding: 15px;
  background-image: url(https://i.gyazo.com/e1b0ceb10b1e6d340595647e504546ab.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.main-players-wrap {
  width: 100%;
  display: flex;
}

.players-wrap {
  width: 100%;
  display: flex;

}


.players-contents {
  width: 300px;
  height: 650px;
  margin: 50px 100px 0 100px;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
}

.member-contents-wrap {
  overflow: scroll;
  margin-top: 50px;
  height: 650px;
  width: 900px;
  background-color: rgba(255, 255, 255, 0.7);
}




.member-header {
  width: 100%;
  margin-top: 20px;
  padding-left: 50px;
}

.member-header p {
  margin: 0;
  font-size: 50px;
  color: #000066;
  font-weight: bold;
}

.member-second-header {
  width: 100%;
  height: 70px;
  margin: 0;
  display: block;
  display: flex;

}

ul {
  padding: 0;
}

.position.lists {
  width: 100%;
  height: 100%;
}

.position-list {
  width: 150px;
  height: 44px;
  font-size: 30px;
  margin: 10px 30px 30px 80px;
}

.member-contents {
  width: 100%;
  height: 100%;
  padding: 50px 0 50px ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}


.member-content {
  width: 23%;
  height: 230px;
  margin: 20px 20px;
}

.member-image {
  border: 3px solid #000066;
  width: 100%;
  height: 190px;
  margin: 0 auto;
}

.member-name {
  font-size: 30px;
  font-weight: bold;
  color: #000066;
  text-align: center;
}



.p-member-registration-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 50px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
  margin-left: 50px;
}
.p-member-registration-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.member-root-path-btn {
  margin-top: 30px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 27px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
  margin-left: 50px;
}
.member-root-path-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.pitch-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 44px;   /* 余白       */
  background    : #ffff1a;     /* 背景色     */
  color         : #00007f;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
}
.pitch-players-btn:hover {
  color         : #ffff1a;     /* 背景色     */
  background    : #00007f;     /* 文字色     */
}

.catch-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 44px;   /* 余白       */
  background    : #ffff1a;     /* 背景色     */
  color         : #00007f;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
}
.catch-players-btn:hover {
  color         : #ffff1a;     /* 背景色     */
  background    : #00007f;     /* 文字色     */
}


.inside-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 30px;   /* 余白       */
  background    : #ffff1a;     /* 背景色     */
  color         : #00007f;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
}
.inside-players-btn:hover {
  color         : #ffff1a;     /* 背景色     */
  background    : #00007f;     /* 文字色     */
}


.outside-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 30px;   /* 余白       */
  background    : #ffff1a;     /* 背景色     */
  color         : #00007f;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
}
.outside-players-btn:hover {
  color         : #ffff1a;     /* 背景色     */
  background    : #00007f;     /* 文字色     */
}

.player-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 20px;   /* 余白       */
  background    : #ffff1a;     /* 背景色     */
  color         : #00007f;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #ffff1a;    /* 枠の指定 */
}
.player-players-btn:hover {
  color         : #ffff1a;     /* 背景色     */
  background    : #00007f;     /* 文字色     */
}


.select-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 44px;   /* 余白       */
  background    : #00007f;     /* 背景色     */
  color         : #ffff1a;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px #666666;  /* 影の設定 */
}

.select-outside-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 30px;   /* 余白       */
  background    : #00007f;     /* 背景色     */
  color         : #ffff1a;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px #666666;  /* 影の設定 */
}

.select-all-players-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #00007f;     /* 背景色     */
  color         : #ffff1a;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 8px 8px #666666;  /* 影の設定 */
}

.player-header-wrap {
  display: none;
}

@media (max-width: 500px) {


  .player-main-image {
    padding: 20px;
    height: 130vh;
    background-size: 100% 210px;
    background-color: rgb(219, 219, 226);
    background-image: url(https://i.gyazo.com/dba1c44e42f214dec6d4e1b5fac7f289.jpg);
    /* background-repeat: no-repeat;
    background-size: cover; */
    overflow: hidden;
  }
  
  .player-header-wrap {
    display: flex;
  }

  .player-header-contents {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
  }


  .player-header-logo {
    font-family: 'Impact','Arial Black',sans-serif;
    font-size: 50px;
    margin-left: 40px;
    display        : inline-block;
    color          : #ffffff;            /* 文字の色 */
    letter-spacing : 13px;                /* 文字間 */
    text-shadow    : 
    2px  2px 0px #003366,
    -2px  2px 0px #003366,
     2px -2px 0px #003366,
    -2px -2px 0px #003366,
     2px  0px 0px #003366,
     0px  2px 0px #003366,
    -2px  0px 0px #003366,
     0px -2px 0px #003366; 
  }


  .players-wrap {
    width: 100%;
    display: block;
  
  }
  

  .players-contents {
    width: 100%;
    /* height: 100px; */
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .players-contents-wrap {
    padding: 0; 
    width: 100%;
  }

  
  .sub-member-header {
    text-align: center;
    width: 100%;
    margin-top: 70px;
    padding-left: 0;
  }
  
  .sub-member-header p {
    margin: 0;
    font-size: 40px;
    color: #000066;
    font-weight: bold;
  }
  
  .sub-position-lists {
    width: 100%;
    height: 100%;
    list-style-type:none;
    overflow:hidden;
    /* display:table; 
    table-layout: fixed; */
    /* display: flex; */
    /* justify-content: space-around; */
  }

  
  .sub-position-list {
    display: inline-block;
    width: 100%;
    height: 75px;
    padding: 10px;
    margin: 10px 0 0 0;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }

  .sub-pitch-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
  
  .sub-catch-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
  
  .sub-inside-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */

  }
  
  .sub-outside-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
  
  .sub-select-all-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
 

  .sub-player-players-btn {
    width: 180px;
    height: 100%;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 25px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 10px 0 0 0;   /* 余白       */
    background    : #ffff1a;     /* 背景色     */
    color         : #00007f;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
  

  .players-contents {
    width: 100%;
    height: 80px;
    margin: none;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
  }
  
  .players-contents-wrap {
    padding: 0 10px 10px 10px; 
    width: 100%;
  }

  .member-header {
    display: none;
  }

  .players-positions {
    display: none;
  }

  .p-member-registration {
    width: 100%;
    display: block;
    display: flex;
  }

  .p-member-registration-btn {
    margin: 10px;
    width: 50%;
    height: 60px;
    display       : block;
    border-radius : none;          /* 角丸       */
    font-size     : 20px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 20px 0 0 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
    border        : none;    /* 枠の指定 */
    margin-left: 0;
  }
  
  .member-root-path-btn {
    margin: 10px;
    width: 50%;
    height: 60px;
    display       : inline-block;
    border-radius : none;          /* 角丸       */
    font-size     : 20px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 20px 0 0 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : none;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
    border        : none;    /* 枠の指定 */
    margin-left: 0;
  }
  
  .member-contents-wrap {
    margin-top: 20px;
    height: 600px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    overflow-y: scroll;
  }
  
  .member-contents {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
  }

  .member-contents li{
    width:40%;

    /* padding:5px 10px; */
  }

  .member-contents li:nth-child(even){
  float:left;
  }

  .member-contents li:nth-child(odd){
  float:left;
  clear:left;
  }

  .member-content {
    /* width: 100%; */
    height: 280px;
    margin: 0;
  }
  
  .member-image {
    border: 3px solid #000066;
    width: 100%;
    height: 200px;
    margin: 0 auto;
  }
  
  .m_header {
    display: none;
  }

  .member-name {
    font-size: 15px;
  }
  
}