.order-main-image {
  height: 100vh;
  padding: 20px;

  background-image: url(https://i.gyazo.com/889775e4f3d7005fe7c14d5ed332a91d.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.offence-main-wrap {
  width: 100%;
  height: 100%; 
  padding: 20px 0 30px 0;
  display: flex;
}


.offence-wrap {
  width: 800px;
  height: 100%; 
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.match-form-group {
  padding: 20px;
  width: 450px;
  height: 300px;
  margin: 100px 50px 0 100px;
  
  border: 3px solid white;

}

.new-match-form-group {
  padding: 20px;
  width: 550px;
  height: 400px;
  margin: 100px 50px 0 100px;
  background-color: rgba(255, 255, 255, 0.8);
}


.new-match-form-text-wrap {
  width:100%;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.match-error-message {
  color: red;
}

.match-form-text-wrap {
  width: 400px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.match-form-date-wrap {
  width: 400px;
  height: 50px;
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;

}

.new-match-form-date-wrap {
  width: 100%;
  height: 50px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;

}



.match-form-wrap {
  width: 100%;
  font-size: 30px;
}

.user-name {
  color: #000066;
  font-size: 35px;
  margin-right: 20px;
  font-weight: bold;
}

.form-text {
  color: #000066;
  font-size: 30px;
  
}

.new-form-text {
  color: #000066;
  font-size: 30px;
  
}


.match-name {
  width: 200px;
  height: 50px;
  font-size: 30px;
  margin-left: 20px;
  border: 3px solid #00007f;
}

.year-date-field {
  width: 150px;
  height: 50px;
  font-size: 30px;
  border: 3px solid #00007f;

}



.date-field {
  width: 100px;
  height: 50px;
  font-size: 30px;
  border: 3px solid #00007f;

}



.match-contents-wrap {
  width: 400px;
  height: 600px; 
  margin-left: 250px;
}


.offence-members {
  border: 5px solid #00007f;

  width: 700px;
  height: 100%;
  font-size: 20px;
  background-color: white;
}

tr {
  text-align: center;
  height: 62px;
}

th {
  font-size: 30px;
}

th,td {
  border: 1px double black;

}

.batting-order {
  background-color: rgb(219, 219, 226);
  color: #00007f;
  width: 80px;
  text-align: center;
  border: 5px solid #00007f;

}


.start-order-names {
  background-color: rgb(219, 219, 226);
  color: #00007f;
  width: 200px;
  border: 5px solid #00007f;

  text-align: center;

}

.positioning {
  width: 60px;
  text-align: center;
  background-color: rgb(219, 219, 226);
  color: #00007f;
  border: 5px solid #00007f;

}


.member-select {
  width: 100%;
  height: 100%;
  text-indent: 120px;

}

.position-select {
  width: 100%;
  height: 100%;
  text-indent: 28px;
}


td {
  text-align: center;
  font-size: 25px;
}


.offence-set-wrap {
  width: 400px;
  text-align: center;
}

.new-offence-set-wrap {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}


.order-create-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 50px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}

.order-create-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.sub-offence-wrap {
  display: none;
}


.matches-root-path-btn {
  margin-top: 30px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 27px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
  margin-left: 50px;
}

.matches-root-path-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}



@media (max-width: 500px) {

  .offence-main-wrap {
    width: 100%;
    height: 100%; 
    padding: 20px 0 20px 0;
    display: block;
  }
  

  .new-match-form-group {
    /* padding: 20px; */
    width: 100%;
    height: 250px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .new-match-form-text-wrap {
    width:100%;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .user-name {
    color: #000066;
    font-size: 15px;
    margin-right: 20px;
    font-weight: bold;
  }
  
  .match-name {
    display: inline-block;
    width: 140px;
    height: 40px;
    font-size: 15px;
    margin-left: 10px;
    border: 3px solid #00007f;
  }

  .new-form-text {
    color: #000066;
    font-size: 5px;
    
  }
  

  .new-match-form-date-wrap {
    width: 100%;
    height: 60px;
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  
  }
  
  .form-text {
    color: #000066;
    font-size: 18px;
    
  }
  
  .year-date-field {
    width: 150px;
    height: 40px;
    font-size: 10px;
    border: 3px solid #00007f;
  
  }
  
  
  
  .date-field {
    width: 100px;
    height: 40px;
    font-size: 10px;
    border: 3px solid #00007f;
  }
  
  .offence-wrap {
    width: 100%;
    height: 390px; 
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
 
  .offence-members {
    border: 5px solid #00007f;
    width: 300px;
    height: 100%;
    font-size: 15px;
    margin-right: 17px;
    background-color: white;
  }
  
  tr {
    text-align: center;
    height: 30px;
  }
  
  th {
    font-size: 10px;
  }

  .batting-order {
    background-color: rgb(219, 219, 226);
    color: #00007f;
    width: 35px;
    text-align: center;
    border: 5px solid #00007f;
  
  }
  
  .start-order-names {
    background-color: rgb(219, 219, 226);
    color: #00007f;
    width: 150px;
    border: 5px solid #00007f;
  
    text-align: center;
  
  }
  
  .positioning {
    width: 40px;
    text-align: center;
    background-color: rgb(219, 219, 226);
    color: #00007f;
    border: 5px solid #00007f;
  
  }
  
  .member-select {
    width: 100%;
    height: 100%;
    text-indent: 10px;
  }

  .position-select {
    width: 100%;
    height: 100%;
    text-indent: 10px;
  }
  
  
  
  td {
    text-align: center;
    font-size: 15px;
  }
  
  .new-offence-set-wrap {
    width: 100%;
    text-align: center;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .order-create-btn {
    margin-top: 10px;
    width: 120px;
    height: 60px;

    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
    border        : none;    /* 枠の指定 */
  }

  .matches-root-path-btn {
    margin-top: 10px;
    width: 120px;
    height: 50px;
    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 30px 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
    border        : none;    /* 枠の指定 */
    margin-left: 0;
  }
  
  
}