.main-ofence-contents-wrap {
  width: 100%;
  height: 600px;

}

.ofence-contents-wrap {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;

}


/* 検索フォーム */
.ofence-contents {
  width: 450px;
  height: 450px;
  border: 3px solid white;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ofence-data-wrap {
  width: 430px;
  height: 430px;
  border: 3px solid white;
  text-align: center;
}

.ofence-search-wrap {
  width: 100%;
  height: 100px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 300px;
  height: 50px;
}

.search-btn {
  width: 60px;
  height: 50px;

}


.ofence-history-wrap {
  overflow: scroll;
  width: 430px;
  height: 430px;
  border: 3px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.ofence-history {
  width: 400px;
  height: 100px;
  border: 8px solid #00007f;
  background-color: yellow;
  margin-top: 30px;
}

.match-name-wrap {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.match-date-wrap {
  width: 100%;
  height: 50px;
  padding-left: 15px;

  display: flex;
  /* align-items: center; */
  /* justify-content: flex-end; */
}


.ofence-user-name {
  width: 200px;
  font-size: 30px;
  color: #00007f;
}

.ofence-match-name {
  width: 150px;
  font-size: 30px;
  color: #00007f;
}

.ofence-form-text {
  width: 50px;
  font-size: 15px;
  color: #00007f;
}


.ofence-match-year {
  width: 100px;
  font-size: 20px;
  color: #00007f;
}

.ofence-match-month {
  width: 50px;
  font-size: 20px;
  color: #00007f;
}

.ofence-match-day {
  width: 50px;
  font-size: 20px;
  color: #00007f;
}