.main-offence-contents-wrap {
  width: 100%;
  height: 600px;

}

.offence-contents-wrap {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-left: 100px;
  display: flex;

}

.offence-contents-history {
  width: 600px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: scroll;
  border: 5px solid #000066;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 検索フォーム */
.offence-contents {
  width: 450px;
  height: 550px;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: scroll;
  border: 5px solid #000066;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offence-data-wrap {
  width: 430px;
  height: 500px;
  text-align: center;
}

.offence-search-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.search-content {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.search-input {
  margin-right: 20px;
  font-size: 30px;
  color: #000066;
  font-weight: bold;
}

.offence-search-form {
  width: 200px;
  height: 50px;
}

.search-btn {
  width: 60px;
  height: 50px;

}


.offence-history-wrap {
  width: 550px;
  height: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.offence-history {
  width: 100%;
  height: 130px;
  border: 8px solid #00007f;
  background-color: rgb(219, 219, 226);
  margin-top: 20px;
}

.match-name-wrap {
  width: 100%;
  height: 60px;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.match-date-wrap {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  display: flex;
}


.offence-user-name {
  width: 250px;
  font-size: 30px;
  color: #00007f;
}

.offence-match-name {
  width: 250px;

  font-size: 30px;
  color: #00007f;
}

.offence-form-text {
  width: 50px;
  font-size: 15px;
  color: #00007f;
}


.offence-match-year {
  width: 100px;
  font-size: 20px;
  color: #00007f;
}

.offence-match-month {
  width: 70px;
  font-size: 20px;
  color: #00007f;
}

.offence-match-day {
  width: 70px;
  font-size: 20px;
  color: #00007f;
}


.search-btn-wrap {
  width: 100%;
  margin-top: 50px;
}

.history-search-btn-wrap {
  width: 100%;
  margin-top: 50px;
}


.search-root-btn-wrap {
  width: 100%;
}


.match-search-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 35px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.match-search-btn:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.match-history-search-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 55px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.match-history-search-btn:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


.offence-root-path-btn {
  margin-top: 20px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 35px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  border        : 2px solid #000066;    /* 枠の指定 */

}

.offence-root-path-btn:hover {
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}



@media (max-width: 500px) {

  .offence-contents-wrap {
    width: 100%;
    height: 220px;
    padding-top: 0;
    padding-left: 0;
    display: block;
  
  }

  .offence-contents {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: scroll;
    border: 5px solid #000066;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .offence-data-wrap {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  
  .offence-search-wrap {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }
  
  .search-content {
    width: 100%;
    height: 30px;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .search-input {
    width: 30%;
    margin-right: 0;
    font-size: 15px;
    color: #000066;
    font-weight: bold;
  }
  
  .offence-search-form {
    width: 70%;
    height: 25px;
  }

  .search-btn-wrap {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .history-search-btn-wrap {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }

  .search-root-btn-wrap {
    margin-top: 20px;
    width: 100%;
  }
  

  .match-search-btn {
    width: 120px;
    height: 40px;
    margin-right: 5px;
    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }
  
  .match-history-search-btn {
    width: 120px;
    height: 40px;
    margin-right: 5px;

    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 20px 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
  }

  .offence-root-path-btn {
    width: 120px;
    height: 40px;
    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 15px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 20px 0;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    border        : none;    /* 枠の指定 */
    margin-top: 0;
    margin-left: 5px;
  }

  .offence-history-wrap {
    width: 100%;
    height: 430px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .offence-contents-history {
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: scroll;
    border: 5px solid #000066;
    margin-right: 0;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .offence-history {
    width: 100%;
    height: 100px;
    
    border: 8px solid #00007f;
    background-color: rgb(219, 219, 226);
    margin-top: 20px;
  }
  
  .match-name-wrap {
    width: 100%;
    height: 40px;
    padding: 0 5px 0 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .match-date-wrap {
    width: 100%;
    height: 30px;
    padding-left: 15px;
    display: flex;
  }
  
  .offence-user-name {
    width: 250px;
    font-size: 15px;
    color: #00007f;
  }
  
  .offence-match-name {
    width: 250px;
  
    font-size: 15px;
    color: #00007f;
  }
  
  .offence-form-text {
    width: 50px;
    font-size: 7px;
    color: #00007f;
  }
  
  .offence-match-year {
    width: 100px;
    font-size: 15px;
    color: #00007f;
  }
  
  .offence-match-month {
    width: 70px;
    font-size: 15px;
    color: #00007f;
  }
  
  .offence-match-day {
    width: 70px;
    font-size: 15px;
    color: #00007f;
  }
  
  
}
