.front-main-image {
  height: 100vh;
  padding: 20px;
  background-image: url(https://i.gyazo.com/cdcbbf6fcc69df6b3b192dd7df04bdcd.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.front-error-message {
  width: 80vw;
  color: red;
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 20px;

}


.front-main-wrap {
  width: 100%;
  height: 350px; 
  padding: 20px;
  margin-top: 30px;
  /* display: flex; */
}

.front-wrap {
  width: 80vw;
  height: 300px;
  margin-left: 100px;
  background-color: green;
}

.score-table {
  width: 100%;
  height: 100%;
}


.score-table th {
  width: 20%;
  border: 3px solid white;
  text-align: center;
}


.score-table tr {
  height: 30%;
  border: 3px solid white;
}

.score-table td {

  width: 7%;
  height: 50px;
}


.inning-wrap {
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.score-field {
  width: 100%;
  height: 100%;
  border-right: 3px solid white;
  border-left: 3px solid white;
  background-color: green;
  font-size: 25px;
  color: white;
  text-align: center;

}

.score-content {
  font-size: 25px;
  color: white;
}

.front-match-form {
  width: 100%;
  height: 100%;
  background-color: green;
  font-size: 40px;
  color: white;

}


.total-wrap {
  width: 15%;
  font-size: 25px;
  color: white;
  text-align: center;


}

.front-set-wrap {
  width: 100%;
  height: 100px;
  text-align: center;
  margin-top: 40px;
}


.image-comment-wrap {
  width: 650px;
  height: 550px; 
  padding: 10px;
  border: 5px solid #00007f;
  margin-left: 50px;
  background-color: rgba(255, 255, 255, 0.8);
}




.image-comment {
  width: 100%;
  height: 100%; 
}

.image-comment-header-wrap {
  height: 80px;
  text-align: center;
}

.image-comment-header-wrap p {
  font-size: 50px;
  color: #00007f;
  font-weight: bold;
}


.history-image-wrap {
  height: 100px;
  padding: 0 20px 0 20px;
  padding-top: 5px;
}

.history-image-text {
  font-size: 30px;
  color: #00007f;

}

.history-comment-wrap {
  height: 300px;
  padding: 0 20px 0 20px;
  margin-top: 0;
}

.comment-field {
  width: 100%;
  height: 350px;
}



.front-set-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 50px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}

.front-set-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.front-history-order-offence-wrap {
  width: 100%;
  height: 550px; 
  margin-top: 30px;
  display: flex;
  /* justify-content: space-around; */
}

.front-show-offence-members {
  width: 550px;
  height: 550px;
  font-size: 20px;
  margin-left: 100px;
  background-color: rgb(255, 255, 255);
  border: 5px solid #00007f;
  table-layout: fixed;
}



@media (max-width: 500px) {

  .front-main-wrap {
    width: 100%;
    height: 180px; 
    padding: 0;
    margin-top: 10px;
  }
  
  .front-wrap {
    width: 100%;
    height: 180px;
    margin-left: 0;
    padding: 5px;
    background-color: green;
    overflow-x: auto;  /* 横スクロールの指定 */
    white-space: nowrap;  /* 横スクロールの指定 */
    -webkit-overflow-scrolling: touch;  
  }
  
  .score-table {
    width: 500px;
    height: 100%;
  }
  

  .score-table th {
    width: 150px;
    height: 40px;
    font-size: 10px;
    border: 3px solid white;
    text-align: center;
  }
  
  .score-table tr {
    height: 40px;
    border: 3px solid white;
  }

  .score-table td {

    width: 100px;
    height: 50px;
  }
  
  .score-field {
    width: 100%;
    height: 100%;
    border-right: 3px solid white;
    border-left: 3px solid white;
    background-color: green;
    font-size: 15px;
    color: white;
    text-align: center;
  
  }
  
  .front-history-order-offence-wrap {
    width: 100%;
    height: 600px;
    margin-top: 0;
    display: block;
    /* justify-content: space-around; */
  }

  .front-show-offence-members {
    width: 100%;
    height: 250px;
    font-size: 20px;
    margin-left: 0;
    background-color: rgb(255, 255, 255);
    border: 5px solid #00007f;
    table-layout: fixed;
  }
  
  
  .image-comment-wrap {
    width: 100%;
    height:350px; 
    padding: 10px;
    border: 5px solid #00007f;
    margin-left: 0;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .image-comment-header-wrap {
    height: 40px;
    text-align: center;
  }
  
  .image-comment-header-wrap p {
    font-size: 25px;
    color: #00007f;
    font-weight: bold;
  }
  
  .history-image-wrap {
    height: 100px;
    padding: 0;
    padding-top: 5px;
  }
  

  .history-comment-wrap {
    height: 200px;
    padding: 0;
    margin-top: 0;
  }
  
  .comment-field {
    width: 100%;
    height: 180px;
    font-size: 15px;
    white-space: pre-wrap;


  }
  
  .history-image-text {
    font-size: 15px;
    color: #00007f;
  
  }
  
  
  .front-set-wrap {
    width: 100%;
    height: 100px;
    text-align: center;
    margin-top: 20px;
  }
  
  .front-set-btn {
    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 20px;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 20px 30px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : 0;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
    border        : none;    /* 枠の指定 */
  }
  
}
