.front-main-image {
  height: 100vh;
  padding: 20px;
  background-image: url(https://i.gyazo.com/b861996d8f39286c6c61c65d27a25efa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.front-main-wrap {
  width: 100%;
  height: 100%; 
  padding: 20px;
  display: flex;
}

.front-wrap {
  width: 80vw;
  height: 300px;
  margin-top: 200px;
  margin-left: 100px;
  background-color: green;
}

.score-table {
  width: 100%;
  height: 100%;
}


.score-table th {
  width: 20%;
  border: 3px solid white;
}


.score-table tr {
  height: 30%;
  border: 3px solid white;
}

.score-table td {

  width: 7%;
  height: 50px;
}


.inning-wrap {
  border-right: 3px solid white;
  border-left: 3px solid white;
}

.score-field {
  width: 100%;
  height: 100%;
  border-right: 3px solid white;
  border-left: 3px solid white;
  background-color: green;
  font-size: 40px;
  color: white;
  text-align: center;

}

.score-content {
  font-size: 40px;
  color: white;
  text-align: center;

}

.front-match-form {
  width: 100%;
  height: 100%;
  background-color: green;
  font-size: 40px;
  color: white;

}


.total-wrap {
  width: 15%;
}