.registration-session {
  width: 100%;
  /* height: 100%;
  padding: 20px 0; */
  display: flex;
  justify-content: center;
}


.session-header-contents {
  width: 100%;
  height: 80px;
  display: flex;
  margin: 10px 0 10px 0;
  justify-content: space-between;

}

.session-header-logo {
  font-family: 'Impact','Arial Black',sans-serif;
  font-size: 100px;
  margin-left: 80px;
  display        : inline-block;
  color          : #ffffff;            /* 文字の色 */
  letter-spacing : 13px;                /* 文字間 */
  text-shadow    : 
  5px  5px 1px #00007f,
  -5px  5px 1px #00007f,
   5px -5px 1px #00007f,
  -5px -5px 1px #00007f,
   5px  0px 1px #00007f,
   0px  5px 1px #00007f,
  -5px  0px 1px #00007f,
   0px -5px 1px #00007f;
}

.main-session-contents {
  margin-top: 150px;
  padding-left: 100px;
  width: 600px;
  height: 470px;
  background-color: rgba(255, 255, 255, 0.7);

}

.top-session-image {
  height: 100vh;
  padding: 15px;
  background-image: url(https://i.gyazo.com/dba1c44e42f214dec6d4e1b5fac7f289.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-session-wrap {
  width: 100%;
  height: 100%;
  border: 8px solid white;

}


.session-header-text {
  font-size: 25px;
  font-weight: bold;
  color: #00007f;
}

.session-form-group {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.session-header-form-group {
  height: 100px;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}


.form-text-wrap {
  margin-top: 10px;
}

.session-form-text {
  font-size: 15px;
  color: #00007f;
}

.session-header-form-text {
  font-size: 40px;
  padding-left: 80px;
  color: #00007f;
  font-weight: bold;

}


.session-field {
  width: 400px;
  height: 50px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0.7;
  border: 3px solid #00007f;
  color: black;
}

.session-btn {
  text-align: center;
  height: 85px;
  width: 400px;
  margin-top: 40px;
}



.session-send {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 50px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
  /* float: right; */
}

.session-send:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}



@media (max-width: 500px) {

  .top-session-image {
    background-size: 100% auto;
    background-color: rgb(219, 219, 226);
    padding: 15px;
    background-image: url(https://i.gyazo.com/dba1c44e42f214dec6d4e1b5fac7f289.jpg);
    overflow: hidden;

  }

  .header-logo {
    font-family: 'Impact','Arial Black',sans-serif;
    font-size: 80px;
    margin-left: 0;
    display        : inline-block;
    color          : #ffffff;            /* 文字の色 */
    letter-spacing : 13px;                /* 文字間 */
    text-shadow    : 
    5px  5px 1px #00007f,
    -5px  5px 1px #00007f,
     5px -5px 1px #00007f,
    -5px -5px 1px #00007f,
     5px  0px 1px #00007f,
     0px  5px 1px #00007f,
    -5px  0px 1px #00007f,
     0px -5px 1px #00007f;
  }
  
  .session-header-logo-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .main-session-contents {
    margin-top: 150px;
    padding-left: 0;
    width: 100%;
    height: 470px;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .session-header-form-text {
    font-size: 35px;
    padding-left: 0;
    color: #00007f;
    font-weight: bold;
  
  }
  
  .form-text-wrap {
    text-align: center;
    margin-top: 10px;
  }
  
  .session-field {
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0.7;
    border: 3px solid #00007f;
    color: black;
  }

  .session-btn {
    text-align: center;
    height: 85px;
    width: 100%;
    margin-top: 40px;
  }
  .session-send {
    display       : inline-block;
    border-radius : 0;          /* 角丸       */
    font-size     : 18pt;        /* 文字サイズ */
    text-align    : center;      /* 文字位置   */
    cursor        : pointer;     /* カーソル   */
    padding       : 12px 50px;   /* 余白       */
    background    : #000066;     /* 背景色     */
    color         : #ffffff;     /* 文字色     */
    line-height   : 0;         /* 1行の高さ  */
    transition    : none;         /* なめらか変化 */
    box-shadow    : none;  /* 影の設定 */
  
  }
  
  
  
  
}
