.schedule-history-wrap {
  width: 550px;
  height: 430px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule-history {
  width: 100%;
  height: 180px;
  border: 8px solid #00007f;
  background-color: rgb(219, 219, 226);
  margin-top: 20px;
}



.schedule-date-wrap {
  width: 100%;
  height: 50px;
  padding-left: 15px;
  display: flex;
  align-items: center;
}


.schedule-match-year {
  width: 150px;
  font-size: 25px;
  color: #00007f;
}


.schedule-match {
  width: 350px;
  font-size: 25px;
  color: #00007f;
}


.schedule-search-input {
  width: 100%;
  font-size: 30px;
  color: #000066;
  font-weight: bold;
}

.schedule-search-input-text {
  width: 150px;
  font-size: 30px;
  color: #000066;
  font-weight: bold;
}


.schedule-comment-form {
  height: 200px;
  /* text-align: center; */
}

.schedule-comment-field {
  width: 650px;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 3px solid #000066;
  color: black;
  white-space: pre-wrap;
  /* overflow-y: scroll;  
  -webkit-overflow-scrolling: touch;   */


}

.schedule-form-text {
  width: 50%;
  height: 50px;
  font-size: 25px;
  color: #000066;
}

.schedule-comment-form {
  text-align: center;
}

.schedule-registration-send {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 25px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}

.schedule-registration-send:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.main-schedule-contents-wrap {
  width: 100%;
  height: 600px;
}

@media (max-width: 500px) {

  .main-schedule-contents-wrap {
    width: 100%;
    height: 650px;
  
  }
  
}